<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
   	<meta charset="UTF-8">
	<title>JDBC demo spring MVC || Ben</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<script src="/js/jquery-3.4.1.min.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/app.js"></script>
	<link rel="icon" href="/image/favicon.ico">  
</head> 
<body> 
	<section> 
		<div class="container" th:if="${#lists.isEmpty(accounts)}">
	      	<div class="jumbotron mt-5">
				<h1 class="display-4">Hello, Pwater!</h1>
				<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
				<hr class="my-4">
				<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
				<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
			</div>
		</div>
		<div class="container" th:if="${not #lists.isEmpty(accounts)}">
	  		<table class="table mt-5">
				<thead class="thead-dark">
				    <tr>
					     <th scope="col" width="5%">#</th>
					     <th scope="col" width="70%">Email</th>
					     <th scope="col" width="10%">Gender</th>
					     <th scope="col" class="text-center" width="15%">Act</th>
				    </tr>
				</thead>
				<tbody>
			  		<tr th:each="account : ${accounts}" th:class="${account.status == 2}?'bg-danger text-white':(${account.status == 1}?'bg-warning text-white')">
				        <td th:text="${account.id}">No.</td>
				        <td th:text="${account.email}">Email</td>
				        <td>
				        	<span th:if="${account.gender == 'M'}"> Male</span>	
				        	<span th:if="${account.gender == 'F'}"> Female</span>	
						</td>
						<td class="text-right">
							<a href="comments.html" th:href="@{/user/ban(id=${account.id})}" th:text="${account.status == 1}?'Unlock':'Lock'" th:remove="${account.status == 2}?all:none">Ban account</a>
							<a href="comments.html" th:href="@{/user/del/}+${account.id}" th:remove="${account.status == 2}?tag:none">Delete</a>
						</td>
			      	</tr>
			    </tbody>
		    </table>
	  	</div>
	</section>
</body>  
</html>